<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.netmeter.like.netmeter_sample" >

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setting.MeterSetting"
            android:label="@string/metersetting"
            android:theme="@android:style/Theme.Holo.Dialog.NoActionBar">
        </activity>
        <service
            android:name=".Service.NetMeterService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
